<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="tests" thread-count="2">


  <test name="Test">
  <parameter name="browser" value="chrome"/>
    <classes>

      <class name="Auto.Auto.Orangehrm"/>
      <class name="Auto.Auto.Parallel"/>
     <!--   <class name="Auto.Auto.Parallel"/>
        <class name="Auto.Auto.FilePro"/>
         <class name="Auto.Auto.PropFiles"/>
          <class name="Auto.Auto.Testng"/> -->
         
    </classes>
  </test> <!-- Test -->
  
  
  <!--  <test name="Test1">
  <parameter name="browser" value="Firefox"/>
    <classes>

      <class name="Auto.Auto.Orangehrm"/>
       <class name="Auto.Auto.Parallel"/>
        <class name="Auto.Auto.FilePro"/>
         <class name="Auto.Auto.PropFiles"/>
          <class name="Auto.Auto.Testng"/>
    </classes>
  </test> Test -->
  
</suite> <!-- Suite -->